<%= form_for(@handler) do |f| %>
  <% if @handler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@handler.errors.count, "error") %> prohibited this handler from being saved:</h2>

      <ul>
      <% @handler.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="fieldSet">
	<fieldset>
	<legend>Handler Details</legend>
		<p><%= label_tag(:email, "E-mail:", class:"field", :required => true) %>
		<%= f.text_field :email %></p>
		<p><%= label_tag :first_name, "First Name:", class:"field" %>
		<%= f.text_field :first_name %></p>
		<p><%= label_tag :last_name, "Last Name:", class:"field" %>
		<%= f.text_field :last_name %></p>
		<p><%= label_tag :reg, "Dogswest Registration:", class:"field" %>
		<%= f.text_field :reg %></p>
		<p><%= f.submit %></p>
	</fieldset>
</div>
	
	
	
	<% end %>

