<%= form_for(@dog) do |f| %>
  <% if @dog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dog.errors.count, "error") %> prohibited this dog from being saved:</h2>

      <ul>
      <% @dog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="fieldSet">
	<fieldset>
  		<legend>Dog Details</legend>
		<p><%= label_tag :name, "Name:", class:"field" %>
		<%= f.text_field :name %></p>
		<p><%= label_tag :titles, "Titles:", class:"field" %>
		<%= f.text_field :titles %></p>
		<p><%= label_tag :reg, "Registration Number:", class:"field" %>
		<%= f.text_field :reg %></p>
		<p><%= label_tag :height, "Height", class:"field" %>
		<%= f.select :height, [200, 300, 400, 500, 600], include_blank: "---",
			selected: f.object.height ? f.object.height : "" %></p>
		<p><%= f.submit %></p>
	</fieldset>
</div>
	
  
  
  
<% end %>
